
.raleway-font-style {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header-section*/
.navber{
    width: 1440px;
    height: 698px;
    background-image: url(Assets/Hero-bg.png);
    background-size: cover;
    
}
.logo{
    height: 151px;
    width: 1140px;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    padding: 50px;
    display: flex;
    
    
    justify-content: space-between;
}
.lo{
   font-size: 34px;
   font-weight: bolder; 
   color:#4E47FF
}
.signup{
   font-size: 16px; 
   color: #ffffff;
   background-color: #4E47FF;
   height: 48px;
   width: 132px;
   border-radius: 10px;
   border: 1px solid #ffffff;
}
.h-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
    color: #252432;

}
.stay{
    font-size: 16px; 
   color: #ffffff;
    background-color: #4E47FF;
   height: 48px;
   width: 174px;
   border-radius: 10px;
   border: 1px solid #ffffff;
}
.header-title{
    width: 905px;
    height: 237px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin-top:158px ;
}
/*see it in action*/
.see-t{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.see-des{
    margin-top: 30px;
    font-size: 24px;
    color:#252432 ;
}
.live{
    margin-top: 20px;
     font-size: 16px; 
   color: #ffffff;
    background-color: #4E47FF;
   height: 48px;
   width: 229px;
   border-radius: 10px;
   border: 1px solid #ffffff;
}
.see-im{
    height: 324px;
    width: 403px;
    border-radius: 48px;
    
    

}
.see-title{
    height: 203px;
    width: 517px;
    margin: 0 auto;
}
.see-it{
    height: 328px;
    width: 1140px;
    
    margin: 0 auto;
}
.see-section{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 100px;
   
}
/*join user section*/
.join-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}
.five{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;

}
.active{
    font-size: 20px;
    color: #252432;
}
.join-box{
    display: flex;
    justify-content: space-between;
}
.join-user{
    background-image: linear-gradient(to right,rgb(191, 189, 201),#c0bfc7);
   height: 306px;
   width: 1140px; 
   text-align: center;
   margin: 100px auto;
   padding: 50px 80px;
   border-radius:24px ;
}
.j50{
    margin-top: 35px;
    height: 121px;
    width: 180px;
}